#login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#login-form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 60%;
}
#login-form > input{
    font-size: 4rem;
}
#login-form > button{
    font-size: 4rem;
}