* {
  box-sizing: border-box;
}
#login-page {
  display: flex;
  height: 100vh;
}
#login-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#login-form > input {
  font-size: 3rem;
  width: 100%;
}
#login-form > button {
  font-size: 3rem;
  width: 100%;
}

#login-image-container {
    width: 100%;
    height: 100%;
}

#login-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}

.errorMessage {
  font-size: 3rem;
  margin-top: 2vh;
}
#login-form > h2 {
  font-size: 3rem;
}
